<body>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/login" method="POST">
    <ul>
        <label for="username">Username: </label>
        <input type="user" id="username" name="username" required>
    </ul>
    <ul>
        <label for="pass">Password (8 characters minimum):</label>
        <input type="password" id="pass" name="password"
       minlength="8" required>
    </ul>
    <ul>
       <button type="submit">Save</button>
   </ul>
    </form>
  </div>
</div>
</body>
