<body>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/sign-up" method="post">
    <ul>
        <label for="username">Username: </label>
        <input type="user" id="username" name="username" required>
    </ul>
    <ul>
        <label for="pass">Password (8 characters minimum):</label>
        <input type="password" id="pass" name="password"
       minlength="8" required>
    </ul>
   <div>
    <p id="validate-status"></p>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input for="email" type="email" name="email" class="form-control" id="email" placeholder="email">
    </div>
    <div class='text-right'>
        <button type="submit" class="btn btn-primary" onclick="validate()">Register</button>
    </div>
    </form>

  </div>
</div>
</body>
